/* Footer */
.footer {
  background-color: var(--background-c);
}

.footer__container {
  row-gap: 2rem;
}

.footer__logo {
  width: 200px;
}

.footer__topic {
  color: var(--text-c);
  margin-bottom: var(--1-spacing);
}

.footer__links {
  row-gap: 0.35rem;
}

.footer__link {
  font-size: var(--small-fs);
  color: var(--text-c);
  opacity: .7;
  transition: 0.3s;
}

.footer__link:hover {
  opacity: 1;
}

.footer__social {
  margin-top: 1.5rem;
  display: flex;
  gap: 16px;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.footer__social-icon {
  font-size: 24px;
  transition: 0.3s;
}

.footer__social-item:hover .footer__social-icon {
  color: var(--text-c);
}

@media screen and (min-width: 767px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }
}
