@import url('./variables.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-fs);
  background: var(--background-c);
  color: var(--text-c);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-fs);
}

form {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--text-c);
  font-weight: var(--semiBold-fw);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-c);
}

input {
  border: none;
  outline: none;
}
